<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net40" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="GMap.Net" version="1.0.1" targetFramework="net40" />
  <package id="GMap.NET.Core" version="2.0.3" targetFramework="net461" />
  <package id="GMap.NET.Windows" version="2.0.3" targetFramework="net461" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net461" />
  <package id="GMap.NET.WinForms" version="2.0.3" targetFramework="net461" />
  <package id="GMap.NET.WinPresentation" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.SqlClient.SNI" version="4.0.0" targetFramework="net461" />
  <package id="Microsoft.Identity.Client" version="4.42.1" targetFramework="net461" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.19.6" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.16.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="6.16.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.16.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.16.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.16.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1484.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.2015.Runtime" version="12.0.2.2402" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Common.v12" version="12.0.0.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Runtime.WebForms" version="12.0.2402.15" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Runtime.WinForms" version="12.0.2402.15" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net45" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net461" />
  <package id="Syncfusion.BulletGraph.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Calculate.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Calculate.Windows" version="18.4.0.34" targetFramework="net461" />
  <package id="Syncfusion.Chart.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Chart.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Core.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Data.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.DataSource.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Diagram.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Diagram.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.DocIO.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Edit.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Gauge.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Grid.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Grid.Grouping.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Grid.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.GridExport.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.GridHelperClasses.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Grouping.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.HTMLUI.Base" version="18.4.0.34" targetFramework="net461" />
  <package id="Syncfusion.HTMLUI.windows" version="18.4.0.34" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Linq.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Maps.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Mime.Base" version="18.4.0.34" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Pdf.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.PdfViewer.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.PivotAnalysis.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.PivotChart.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.PivotTable.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Presentation.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.ProjIO.Base" version="18.4.0.34" targetFramework="net461" />
  <package id="Syncfusion.Schedule.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Schedule.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Scripting.Base" version="18.4.0.34" targetFramework="net461" />
  <package id="Syncfusion.SfBarcode.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.SfInput.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.SfListView.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.SfSmithChart.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Shared.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.SpellChecker.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Spreadsheet.Windows" version="18.4.0.34" targetFramework="net461" />
  <package id="Syncfusion.Tools.Base" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.Tools.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.TreeMap.Windows" version="19.4.0.56" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.WinForms" version="19.4.0.56" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.16.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="6.0.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Visual.Reactive.WinForms" version="1.0.0" targetFramework="net461" />
  <package id="Winform.Metroframework" version="1.4.0" targetFramework="net40" />
  <package id="Winform.Metroframework.Design" version="1.4.0" targetFramework="net40" />
</packages>